<!DOCTYPE html>
<html ng-app="ChooseForMe">
<head>

</head>
<body>
	<h1>Rubber Duck Debugging and Support Group</h1>
	<div ng-controller="inputController">
		<form>
			<h4>What's your name?</h4>
			<input type="text" ng-model="username" placeholder="Username">
		</form>
		<h4>Tell the Rubber Duck your code problem or discuss it with someone here!</h4>
		<form>
			<input type="text" ng-model="entry" placeholder="Help with Closure..." name="art">
			<input type="submit" ng-click="save()">
		</form>
		<form method="post" enctype="multipart/form-data" action="/upload">
    		<input type="file" name="file">
    		<input type="submit" value="Submit">
		</form>

		<!-- <input type="submit" value="Show me my List!" ng-click="list()"> -->
	<div ng-repeat="thing in data">
	<h4>{{thing.name}}</h4>



	<div>

	</div>


	<!-- bring in angular, angular-route and ajax / jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script> 
    <script src="//code.angularjs.org/1.2.1/angular-route.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="inputController.js"></script>
</body>
</html>